body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f3f4f6, #dbe1e8);
    font-family: 'Arial', sans-serif;
}

#container {
    position: relative;
    width: 1800px; /*1920px;*/
    height: 2880px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#webcam {
    display: none;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    object-fit: cover;
    pointer-events: none;
    transform: rotate(0deg);
    transform-origin: center;
}

#countdown {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

#buttonContainer {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 3;
}

.button {
    width: 249px !important;
    height: 76px;
    padding: 15px 30px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .button:hover {
        background-color: #0056b3;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

#overlaySelection {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 5;
    background: rgb(0, 0, 0, 0.1);
}

.overlayOption {
    width: auto; /*100px;*/
    height: 260px;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s;
}

    .overlayOption:hover {
        border-color: #007BFF;
    }

.selected {
    border-color: #007BFF;
}

#modal,
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9) !important;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    z-index: 1000;
    padding: 20px;
}

    #modal img {
        max-width: 90%;
        max-height: 80%;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    #modal #closeButton {
        padding: 12px 25px;
        background-color: #FF0000;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

        #modal #closeButton:hover {
            background-color: #cc0000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

    #modal #shareButton {
        padding: 12px 25px;
        background-color: #109A7B;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    #modal #printButton {
        padding: 12px 25px;
        background-color: #109A7B;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

.modal-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}




#qrModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    color: white;
}

#qrModalContent {
    background-color: #33333373;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

#qrModal h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}

#qrModal img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid #fff;
}

#closeQrButton {
    padding: 12px 25px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

    #closeQrButton:hover {
        background-color: #cc0000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }




#introOverlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    z-index: 1000;
    flex-direction: column;
    text-align: center;
}

#introContent {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /*88 88 90*/
    border-radius: 10px;
    background: #33333373;
}

    #introContent h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    #introContent p {
        font-size: 18px;
        margin-bottom: 20px;
    }

#startButton {
    padding: 12px 25px;
    background-color: #109A7B;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

    #startButton:hover {
        background-color: darkgreen;
    }


#faceRecPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    z-index: 1001;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#facerecContent {
    max-width: 625px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    background-color: #33333373;
}

    #facerecContent h1 {
        font-size: 28px;
        margin-bottom: -15px;
        color: #109A7B;
    }

    #facerecContent p {
        font-size: 18px;
        margin-bottom: 20px;
    }



#thankYouPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 1001;
    flex-direction: column;
    text-align: center;
}

#thankYouContent {
    max-width: 700px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    background-color: #33333373;
}

    #thankYouContent h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    #thankYouContent p {
        font-size: 18px;
        margin-bottom: 20px;
    }

#closeThankYouButton {
    padding: 12px 25px;
    background-color: #109A7B;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

    #closeThankYouButton:hover {
        background-color: darkgreen;
    }






.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px; /* Offset to center the loader */
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    animation: spin 1s linear infinite;
    z-index: 9999; /* High z-index */
    background: transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Optional: disable pointer events when loader is active */
body.loading {
    pointer-events: none;
    opacity: 0.5;
}

.rotate-90 {
    transform: rotate(270deg) !important;
    transform-origin: center !important;
}

#capturedImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#videoElement {
    width: 100%;
    overflow: hidden;
}
